{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Infrastructure\/Migrations",
            "Infrastructure\/Kernel.php"
        ]
    },
    "logs": {
        "text": "infection.log",
        "badge": {
            "branch": "master"
        }
    },
    "phpUnit" : {
        "customPath": "bin/phpunit"
    },
    "mutators": {
        "@default": true
    }
}
